<head>
  <meta charset="utf-8">
  <title>OnlineStudyICT</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/components-font-awesome/css/all.css">
  <link rel='stylesheet' href='/css/style.css' >
</head>
