<!-- Sidebar -->

  <div class="border-dark" id="sidebar-wrapper">
    <div class="sidebar-heading"><h4><%= user.name %></h4></div>
    <div class="list-group list-group-flush">
      <a href="/" class="list-group-item list-group-item-action">Home</a>
      <a href="/teachers/profile/<%= user._id %>" class="list-group-item list-group-item-action">Profile</a>
      <a href="/articles/mycourses" class="list-group-item list-group-item-action">My Courses</a>
      <a href="/articles/mycourse" class="list-group-item list-group-item-action">My Articles</a>
    </div>
  </div>


<!-- /#sidebar-wrapper -->
